@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

.menu {
    display: block;
}

.tittle {
    color: white;
    text-shadow:
    -0.4px -0.4px 0 #000,
    0.4px -0.4px 0 #000,
    -0.4px 0.4px 0 #000,
    0.4px 0.4px 0 #000;
    font-size: 55pt;
    font-family: 'Indie Flower', cursive;
    font-weight:bold;
}

.basic {
    color: black;
    font-size: 40pt;
    font-family: 'Indie Flower', cursive;
    font-weight:bold;
}

.tooltip {
    color: black;
    font-size: 20pt;
    font-family: 'Indie Flower', cursive;
    font-weight:bold;
}

body {
    background:rgba(31, 175, 15, 0.5); /*url(../background.jpg) no-repeat center center fixed;*/
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.centered-wrapper {
    position: relative;
    text-align: center;
}


#menu li {
    display: inline;
    padding: 1%;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
}

nav ul{
    list-style: none;
}

nav ul li:hover{background: rgba(0,0,0,.15);}
nav ul li:hover > ul{display: block;}
nav ul li{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li a{
    color: #222;
    text-decoration: none;
}

nav ul li a:hover {
    color: #222;
    text-decoration: none;
}

.textBox{
    width: 370px; height: 60px; font-size: 35px; margin: 10px 0 10px 0;
}

.green_button {
    display: inline-block; width: 185px; height: 50px; margin: 0 auto;
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #fff;
    border-radius: 10px;
    font: bold 25px Helvetica, Sans-Serif; text-align: center;
    text-transform: uppercase; text-decoration: none;
    -moz-transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
    background: #398525; /* old browsers */
    background: -moz-linear-gradient(top, #8DD297 0%, #398525 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8DD297), color-stop(100%,#398525)); /* webkit */
    border: 1px solid #5ea617;
    color: #147032;
    text-shadow: 0px 1px 2px #b4d1ad;
}

.green_button:hover {
    -moz-transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
    color: #0c0c0c;
}

.jsgrid-edit-row > .jsgrid-cell, .jsgrid-filter-row > .jsgrid-cell, .jsgrid-grid-body, .jsgrid-grid-header, .jsgrid-header-row > .jsgrid-header-cell, .jsgrid-insert-row > .jsgrid-cell {
    border: 1px solid rgba(127, 136, 136, 0.54);
}
.jsgrid-grid-header {
    background: rgba(127, 136, 136, 0.54);
}


::-webkit-scrollbar {
    display: none;
}

.jsgrid-header-sortable:hover {
    cursor: pointer;
    background: rgba(127, 136, 136, 0.54);
}

.jsgrid-header-row .jsgrid-header-sort {
    background: rgba(127, 136, 136, 0.54);
}

.jsgrid-header-sort-asc:before {
    border-width: 0 5px 5px;
    border-color: transparent transparent #009a67
}

.jsgrid-header-sort-desc:before {
    border-width: 5px 5px 0;
    border-color: #009a67 transparent transparent
}

.jsgrid-cell {
    border: 1px solid rgba(127, 136, 136, 0.54);
}

.jsgrid-row > .jsgrid-cell {
    background: rgba(243, 249, 249, 0.54);
}

.jsgrid-alt-row > .jsgrid-cell {
    background: rgba(243, 249, 249, 0.54);
}

.jsgrid-header-row > .jsgrid-header-cell {
    background: transparent;
}

.jsgrid-filter-row > .jsgrid-cell {
    background: transparent;
}

.jsgrid-insert-row > .jsgrid-cell {
    background: transparent;
}

.jsgrid-edit-row > .jsgrid-cell {
    background: transparent;
}

.jsgrid-selected-row > .jsgrid-cell {
    background: rgba(127, 136, 136, 0.54);
    border-color: rgba(127, 136, 136, 0.54);
}

.jsgrid-nodata-row > .jsgrid-cell {
    background: rgba(127, 136, 136, 0.54);
}

.jsgrid-invalid input, .jsgrid-invalid select, .jsgrid-invalid textarea {
    background: #ffe3e5;
    border: 1px solid #ff808a
}

.jsgrid-pager-nav-inactive-button a {
    color: rgba(127, 136, 136, 0.54);
}

.jsgrid-load-shader {
    background: rgba(127, 136, 136, 0.54);
    opacity: .5;
    filter: alpha(opacity=50)
}

.jsgrid-load-panel {
    width: 15em;
    height: 5em;
    background: rgba(127, 136, 136, 0.54);
    border: 1px solid rgba(127, 136, 136, 0.54);
    padding-top: 3em;
    text-align: center
}

.jsgrid-load-panel:before {
    content: ' ';
    position: absolute;
    top: .5em;
    left: 50%;
    margin-left: -1em;
    width: 2em;
    height: 2em;
    border: 2px solid #009a67;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: indicator 1s linear infinite;
    animation: indicator 1s linear infinite
}

/* Loading animation */
.cssload-loader {
    position: absolute;
    left: 50%;
    width: 66.284271247462px;
    height: 66.284271247462px;
    margin-left: -33.142135623731px;
    margin-top: 0px;
    border-radius: 100%;
    animation-name: cssload-loader;
    -o-animation-name: cssload-loader;
    -ms-animation-name: cssload-loader;
    -webkit-animation-name: cssload-loader;
    -moz-animation-name: cssload-loader;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-duration: 5.2s;
    -o-animation-duration: 5.2s;
    -ms-animation-duration: 5.2s;
    -webkit-animation-duration: 5.2s;
    -moz-animation-duration: 5.2s;
}
.cssload-loader .cssload-side {
    display: block;
    width: 8px;
    height: 28px;
    background-color: rgb(4,99,128);
    margin: 3px;
    position: absolute;
    border-radius: 50%;
    animation-duration: 1.95s;
    -o-animation-duration: 1.95s;
    -ms-animation-duration: 1.95s;
    -webkit-animation-duration: 1.95s;
    -moz-animation-duration: 1.95s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: ease;
    -o-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
}
.cssload-loader .cssload-side:nth-child(1),
.cssload-loader .cssload-side:nth-child(5) {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    animation-name: cssload-rotate0;
    -o-animation-name: cssload-rotate0;
    -ms-animation-name: cssload-rotate0;
    -webkit-animation-name: cssload-rotate0;
    -moz-animation-name: cssload-rotate0;
}
.cssload-loader .cssload-side:nth-child(3),
.cssload-loader .cssload-side:nth-child(7) {
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    animation-name: cssload-rotate90;
    -o-animation-name: cssload-rotate90;
    -ms-animation-name: cssload-rotate90;
    -webkit-animation-name: cssload-rotate90;
    -moz-animation-name: cssload-rotate90;
}
.cssload-loader .cssload-side:nth-child(2),
.cssload-loader .cssload-side:nth-child(6) {
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    animation-name: cssload-rotate45;
    -o-animation-name: cssload-rotate45;
    -ms-animation-name: cssload-rotate45;
    -webkit-animation-name: cssload-rotate45;
    -moz-animation-name: cssload-rotate45;
}
.cssload-loader .cssload-side:nth-child(4),
.cssload-loader .cssload-side:nth-child(8) {
    transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    animation-name: cssload-rotate135;
    -o-animation-name: cssload-rotate135;
    -ms-animation-name: cssload-rotate135;
    -webkit-animation-name: cssload-rotate135;
    -moz-animation-name: cssload-rotate135;
}
.cssload-loader .cssload-side:nth-child(1) {
    top: 33.142135623731px;
    left: 66.284271247462px;
    margin-left: -4px;
    margin-top: -14px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}
.cssload-loader .cssload-side:nth-child(2) {
    top: 56.213203431093px;
    left: 56.213203431093px;
    margin-left: -4px;
    margin-top: -14px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}
.cssload-loader .cssload-side:nth-child(3) {
    top: 66.284271247462px;
    left: 33.142135623731px;
    margin-left: -4px;
    margin-top: -14px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}
.cssload-loader .cssload-side:nth-child(4) {
    top: 56.213203431093px;
    left: 10.071067816369px;
    margin-left: -4px;
    margin-top: -14px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}
.cssload-loader .cssload-side:nth-child(5) {
    top: 33.142135623731px;
    left: 0px;
    margin-left: -4px;
    margin-top: -14px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}
.cssload-loader .cssload-side:nth-child(6) {
    top: 10.071067816369px;
    left: 10.071067816369px;
    margin-left: -4px;
    margin-top: -14px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}
.cssload-loader .cssload-side:nth-child(7) {
    top: 0px;
    left: 33.142135623731px;
    margin-left: -4px;
    margin-top: -14px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}
.cssload-loader .cssload-side:nth-child(8) {
    top: 10.071067816369px;
    left: 56.213203431093px;
    margin-left: -4px;
    margin-top: -14px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}

@keyframes cssload-rotate0 {
    0% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@-o-keyframes cssload-rotate0 {
    0% {
        -o-transform: rotate(0deg);
    }
    60% {
        -o-transform: rotate(180deg);
    }
    100% {
        -o-transform: rotate(180deg);
    }
}

@-ms-keyframes cssload-rotate0 {
    0% {
        -ms-transform: rotate(0deg);
    }
    60% {
        -ms-transform: rotate(180deg);
    }
    100% {
        -ms-transform: rotate(180deg);
    }
}

@-webkit-keyframes cssload-rotate0 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    60% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
    }
}

@-moz-keyframes cssload-rotate0 {
    0% {
        -moz-transform: rotate(0deg);
    }
    60% {
        -moz-transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(180deg);
    }
}

@keyframes cssload-rotate90 {
    0% {
        transform: rotate(90deg);
        transform: rotate(90deg);
    }
    60% {
        transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-o-keyframes cssload-rotate90 {
    0% {
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    60% {
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-ms-keyframes cssload-rotate90 {
    0% {
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    60% {
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-webkit-keyframes cssload-rotate90 {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    60% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-moz-keyframes cssload-rotate90 {
    0% {
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    60% {
        -moz-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -moz-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes cssload-rotate45 {
    0% {
        transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        transform: rotate(225deg);
        transform: rotate(225deg);
    }
}

@-o-keyframes cssload-rotate45 {
    0% {
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        -o-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        -o-transform: rotate(225deg);
        transform: rotate(225deg);
    }
}

@-ms-keyframes cssload-rotate45 {
    0% {
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
    }
}

@-webkit-keyframes cssload-rotate45 {
    0% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }
}

@-moz-keyframes cssload-rotate45 {
    0% {
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        -moz-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        -moz-transform: rotate(225deg);
        transform: rotate(225deg);
    }
}

@keyframes cssload-rotate135 {
    0% {
        transform: rotate(135deg);
        transform: rotate(135deg);
    }
    60% {
        transform: rotate(315deg);
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

@-o-keyframes cssload-rotate135 {
    0% {
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    60% {
        -o-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    100% {
        -o-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

@-ms-keyframes cssload-rotate135 {
    0% {
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    60% {
        -ms-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    100% {
        -ms-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

@-webkit-keyframes cssload-rotate135 {
    0% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    60% {
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    100% {
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

@-moz-keyframes cssload-rotate135 {
    0% {
        -moz-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    60% {
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    100% {
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

@keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-loader {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-loader {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}